<!DOCTYPE html>
<html>
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Hireme | {{ title.title() }}</title>
</head>
<body>
  <div class="container">
    <h1><a href="/">Hireme</a></h1>
    <ul class="nav-bar">
      {% for task in ['task1', 'task2'] %}
        <li class="nav-item{% if task == title %} active{% endif %}">
          <a href="{{ task }}">{{ task.title() }}</a>
        </li>
      {% endfor %}
    </ul>
    <div id="task">
      {% block task %}
      <small>Please select one of the tasks.</small>
      {% endblock %}
    </div>
  </div>
</body>
</html>
