[buildout]
develop = .
parts = 
    scripts
    eggs
    deployment
eggs-directory = eggs
versions = versions

[scripts]
recipe = zc.recipe.egg:scripts
eggs = hireme

[eggs]
recipe = zc.recipe.egg:eggs
eggs =
    flask
    numpy
    nose
    PasteDeploy

[deployment]
recipe = collective.recipe.modwsgi
eggs = ${scripts:eggs}
target = ${buildout:directory}/hireme.wsgi
extra-paths = ${buildout:eggs-directory}/PasteDeploy-1.5.0-py2.7.egg
config-file = ${buildout:directory}/modwsgi.cfg
app_name = hireme

[versions]
PasteDeploy = 1.5.0
